*
{
	padding: 0;
	margin: 0;
}
.container
{
	padding-top: 10px;
}
h1
{
	text-align: center;
	margin:80px;
	color: white;
}

form
{
	width: 50%;
	border: 1px solid black;
	border-radius: 10px;
	margin:auto;
	padding: 30px;
	background-color: skyblue;
}

.show_msg
{
	width: 50%;
	margin: auto;
}

.input-err
{
	height: 10px;
}

